* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: purple;
}

header {
   background-image: linear-gradient(to bottom, blue, purple);
   color: aliceblue;
   min-height: 120px;
   text-align: center;
   padding-top: 15px;
}

header h1 {
   font-size: 3em;
   text-shadow: 02px 02px 03px black;
}

header p {
      margin: 0px;
}

nav {
   background-color: purple;
   text-align: center;
   padding-bottom: 20px;
}

nav a {
    color: aliceblue;
    font-weight: bold;
    text-shadow: 04px 04px 08px black;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    background-color: rgba(29, 16, 16, 0.425);
    border-radius: 05px;
    transition-duration: 0.3s;
}


main {
  background-color: rgb(224, 193, 193);
  font-size: 19px;
  margin: auto;
  min-width: 300px;
  max-width: 1000px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 03px 03px 15px black;
  text-align: center;
  text-justify: auto;
}

h2 {
    padding: 05px;
    margin: 05px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 25px;
    
}

img {
    width: 100%;
}



footer {
   background-image: linear-gradient(to top, blue, purple);
   padding: 80px;
   padding-bottom: 10px;
   color: aliceblue;
   text-align: center;
}


div.cq1 {
  padding: 1%;
}

div.cq2 {
    padding: 1%;
  }

div.cq3 {
    padding: 1%;
  }

 div p {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 05px 05px 08px rgba(46, 45, 45, 0.829);
    text-decoration: double;
    text-transform: uppercase;
    text-align: center;
    padding: 2%;
  }



  main.redes {
    width: 20%;
  }

  div.redes01 {
    padding: 2%;
    margin: 2%;
  }

  div.redes01:hover {
    
    background-color: rgba(110, 61, 61, 0.356);
    border-radius: 05px;
    transition-duration: 0.3s;
    
  }

  div.redes02 {
    padding: 2%;
    margin: 2%;
  }

  div.redes02:hover {
    background-color: rgba(110, 61, 61, 0.356);
    border-radius: 05px;
    transition-duration: 0.3s;
  }

  div.redes03 {
    padding: 2%;
    margin: 2%;
  }

  div.redes03:hover {
    background-color: rgba(110, 61, 61, 0.356);
    border-radius: 05px;
    transition-duration: 0.3s;
  }

  div.redes04 {
    padding: 2%;
    margin: 2%;
  }

  div.redes04:hover {
    background-color: rgba(110, 61, 61, 0.356);
    border-radius: 05px;
    transition-duration: 0.3s;
  }

  div.redes05 {
    padding: 2%;
    margin: 2%;
  }

  div.redes05:hover {
    background-color: rgba(110, 61, 61, 0.356);
    border-radius: 05px;
    transition-duration: 0.3s;
  }
